RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

ErrorDocument 404 /ChessUY/Error/404.html
ErrorDocument 403 /ChessUY/Error/403.html
Options All -Indexes