RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteRule ^Inicio Index2.php
RewriteRule ^Admin /cyberhydra/Usuarios/Administrador/Solicitud/PruebaSolicitudes.php
RewriteRule ^Lista /cyberhydra/Usuarios/Administrador/EditarUsuarios/ListaUsuarios.html


ErrorDocument 404 /cyberhydra/Error/404.html
ErrorDocument 403 /cyberhydra/Error/403.html
Options All -Indexes