<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/cyberhydra/Error/404.html" responseMode="ExecuteURL" />
      
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" prefixLanguageFilePath="" path="/cyberhydra/Error/403.html" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="New Contact Us Page Redirect" stopProcessing="true">
          <match url="^Index2.php" />
          <action type="Rewrite" url="/Inicio" />
        </rule>
        <rule name="New About Page Redirect" stopProcessing="true">
          <match url="^(contact/us.*)" />
          <action type="Redirect" url="http://www.example.com/contact_us/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

