<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/cyberhydra/Error/404.html" responseMode="ExecuteURL" />
      
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" prefixLanguageFilePath="" path="/cyberhydra/Error/403.html" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

