RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteRule ^Inicio Index2.php
RewriteRule ^Admin /ChessUY/Usuarios/Administrador/Solicitud/PruebaSolicitudes.php
RewriteRule ^Lista /ChessUY/Usuarios/Administrador/EditarUsuarios/ListaUsuarios.html
RewriteRule ^Torneos /ChessUY/Torneo/PHP/Torneos.php


ErrorDocument 404 /ChessUY/Error/404.html
ErrorDocument 403 /ChessUY/Error/403.html
Options All -Indexes