@import url("https://fonts.googleapis.com/css2?family=Roboto");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background-color: #111;
  font-family: Roboto;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(51, 51, 51, 0.7);
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

header {
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

header .header-logo {
  position: relative;
  z-index: 10;
}

header .header-logo img {
  margin: 0 20px;
  width: 250px;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

header .nav-links .header-session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-links .header-session .session-image {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #0076be;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

header .nav-links .header-session .session-image i {
  color: white;
  font-size: 20px;
}

header .nav-links .header-session .header-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .nav-links .header-session .header-user p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  color: white;
  margin: 0;
}

header .nav-links .header-session .header-user .tipo-profile {
  color: #fcba03;
  font-size: 13px;
}

header .nav-links .header-session .profile {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-links .header-session .profile:hover p {
  color: #0076be;
  font-weight: 500;
}

header .nav-links .header-session .profile:hover .session-image {
  margin-right: 15px;
}

header .nav-links .header-session .cerrarsesion {
  margin: 0 20px;
  display: block;
  padding: 10px;
  background-color: #0076be;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

header .nav-links a {
  text-decoration: none;
  color: #0076be;
  font-size: 20px;
}

header .nav-links .inicio-button {
  margin-right: 20px;
}

header .nav-links .loginregister .login-button {
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: #0076be;
  padding: 10px;
  border-radius: 30px 0 0 30px;
  color: white;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav-links .loginregister .register-button {
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: #0076be;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  color: white;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav-links .loginregister a:hover {
  width: 120px;
}

header .burger-mobile {
  position: relative;
  z-index: 4;
  display: none;
  cursor: pointer;
  margin: 0 20px;
}

header .burger-mobile .bar1,
header .burger-mobile .bar2,
header .burger-mobile .bar3 {
  width: 35px;
  height: 5px;
  background-color: #0076be;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header #links-mobile {
  display: none;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.95);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

header #links-mobile .links-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

header #links-mobile .links-wrapper .profile-picture {
  background-color: #0076be;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #links-mobile .links-wrapper .profile-picture i {
  color: white;
  font-size: 50px;
}

header #links-mobile .links-wrapper h2 {
  color: #0076be;
  font-weight: lighter;
}

header #links-mobile .links-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 50px;
  margin: 10px 20px;
  text-align: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
  background-color: #0076be;
  border-radius: 30px;
}

header #links-mobile .links-wrapper a i {
  margin: 0 5px;
}

header #links-mobile .links-wrapper a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

footer {
  position: relative;
  bottom: 0;
}

footer .wave {
  position: relative;
  margin-top: 50px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
}

footer .wave .vector {
  width: 100%;
  margin: 0;
  padding: 0;
}

footer .wave img {
  min-width: 1600px;
}

footer .footer-body {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}

footer .footer-body p {
  color: white;
  font-size: 13px;
}

footer .footer-body .cyberhydra {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-body .cyberhydra p {
  font-size: 20px;
  font-weight: 100;
}

footer .footer-body .cyberhydra img {
  width: 200px;
}

.modal {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-wrapper {
  width: 500px;
  background-color: #111;
  border-radius: 30px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-animation: modalAnim 0.5s ease-in;
          animation: modalAnim 0.5s ease-in;
}

.modal .modal-wrapper .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-wrapper .modal-content h1 {
  color: #0076be;
  margin: 0;
}

.modal .modal-wrapper .modal-content p {
  color: white;
}

.modal .modal-wrapper .modal-content a {
  margin-top: 20px;
  display: block;
  width: 100px;
  text-decoration: none;
  color: white;
  background-color: #0076be;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal .modal-wrapper .modal-content a:hover {
  background-color: #333;
  color: white;
}

.modal .modal-wrapper .modal-content hr {
  width: 400px;
  border: 1px solid #0076be;
  margin-top: 20px;
}

@-webkit-keyframes modalAnim {
  from {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 100%;
  }
}

@keyframes modalAnim {
  from {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 100%;
  }
}

.Solicitudes-wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Solicitudes-wrapper h1 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
}

.Solicitudes-wrapper table {
  width: 600px;
  border-spacing: 0px;
}

.Solicitudes-wrapper table tr {
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Solicitudes-wrapper table tr th:nth-child(1) {
  border-radius: 30px 0 0 0;
}

.Solicitudes-wrapper table tr th:nth-child(8) {
  border-radius: 0 30px 0 0;
}

.Solicitudes-wrapper table tr th {
  color: white;
  border: none;
  font-weight: lighter;
  background-color: #0076be;
  padding: 5px;
  margin: 0;
}

.Solicitudes-wrapper table tr td {
  color: white;
  border: none;
  font-weight: lighter;
  padding: 5px;
  border: 1px solid #0076be;
  padding: 5px 20px;
}

.Solicitudes-wrapper table tr td .botones-solicitudes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Solicitudes-wrapper table tr td .botones-solicitudes #aprobar,
.Solicitudes-wrapper table tr td .botones-solicitudes #rechazar {
  background-color: #0076be;
  border: none;
  color: white;
  width: 50px;
  height: 25px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
}

.Solicitudes-wrapper table tr td .botones-solicitudes #aprobar:hover,
.Solicitudes-wrapper table tr td .botones-solicitudes #rechazar:hover {
  width: 100px;
  background-color: #333;
}

.Solicitudes-wrapper table tr td .botones-solicitudes #aprobar:hover {
  color: greenyellow;
}

.Solicitudes-wrapper table tr td .botones-solicitudes #rechazar:hover {
  color: red;
}

.Solicitudes-wrapper table tr td:nth-child(8) {
  display: block;
  width: 150px;
}

#nohaysolicitudes {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nohaysolicitudes .nohaysolicitudes-wrapper {
  background-color: #111;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 20px;
  color: white;
  font-weight: lighter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nohaysolicitudes .nohaysolicitudes-wrapper a {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0076be;
  text-decoration: none;
  color: white;
  border-radius: 30px;
}

#nohaysolicitudes .nohaysolicitudes-wrapper a i {
  margin: 0 10px;
}

/*
Loading Screen
*/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.landing-video {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.landing-video .background-opacity {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.landing-video video {
  position: fixed;
  min-width: 100%;
  min-height: 100vh;
}

.noticias-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(51, 51, 51, 0.7);
}

.noticias-wrapper .noticias-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.noticias-wrapper .noticias-grid .noticia-wrapper {
  padding: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
}

.noticias-wrapper .noticias-grid .noticia-wrapper .noticia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}

.noticias-wrapper .noticias-grid .noticia-wrapper .noticia .noticia-image img {
  width: 80%;
  margin: 20px;
  border-radius: 10px;
}

.noticias-wrapper .noticias-grid .noticia-wrapper .noticia .noticia-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.noticias-wrapper .noticias-grid .noticia-wrapper .noticia .noticia-body h1 {
  font-size: 30px;
  color: #0076be;
  margin: 0;
}

.noticias-wrapper .noticias-grid .noticia-wrapper .noticia .noticia-body hr {
  width: 90%;
  border: 1px solid #0076be;
  margin: 20px;
}

.noticias-wrapper .noticias-grid .noticia-wrapper .noticia .noticia-body p {
  text-align: left;
  margin: 0 20px;
  color: white;
}

.noticias-wrapper .noticias-grid .noticia-wrapper .noticia .noticia-body a {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0076be;
  width: 200px;
  height: 50px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 100px);
}

.landing-page .landing-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  text-align: center;
}

.landing-page .landing-overlay .index-info {
  margin: 40px 20px 0 20px;
}

.landing-page .landing-overlay .index-info h1 {
  color: #0076be;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

.landing-page .landing-overlay .index-info p {
  color: white;
  font-weight: 300;
}

.register-wrapper .radio-user,
.register-wrapper2 .radio-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 0 15px;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.register-wrapper .radio-user .option,
.register-wrapper2 .radio-user .option {
  background: transparent;
  height: 50px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid #0076be;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.register-wrapper .radio-user .option .dot,
.register-wrapper2 .radio-user .option .dot {
  margin-left: 20px;
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 50%;
  position: relative;
}

.register-wrapper .radio-user .option .dot::before,
.register-wrapper2 .radio-user .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0076be;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.register-wrapper .radio-user .option span,
.register-wrapper2 .radio-user .option span {
  margin-left: 30px;
  font-size: 20px;
  color: white;
}

.register-wrapper .radio-user input[type="radio"],
.register-wrapper2 .radio-user input[type="radio"] {
  display: none;
}

.register-wrapper .radio-user #option-1:checked:checked ~ .option-1,
.register-wrapper .radio-user #option-2:checked:checked ~ .option-2,
.register-wrapper .radio-user #option-3:checked:checked ~ .option-3,
.register-wrapper2 .radio-user #option-1:checked:checked ~ .option-1,
.register-wrapper2 .radio-user #option-2:checked:checked ~ .option-2,
.register-wrapper2 .radio-user #option-3:checked:checked ~ .option-3 {
  border-color: #0076be;
  background: #0076be;
}

.register-wrapper .radio-user #option-1:checked:checked ~ .option-1 .dot,
.register-wrapper .radio-user #option-2:checked:checked ~ .option-2 .dot,
.register-wrapper .radio-user #option-3:checked:checked ~ .option-3 .dot,
.register-wrapper2 .radio-user #option-1:checked:checked ~ .option-1 .dot,
.register-wrapper2 .radio-user #option-2:checked:checked ~ .option-2 .dot,
.register-wrapper2 .radio-user #option-3:checked:checked ~ .option-3 .dot {
  background: #fff;
}

.register-wrapper .radio-user #option-1:checked:checked ~ .option-1 .dot::before,
.register-wrapper .radio-user #option-2:checked:checked ~ .option-2 .dot::before,
.register-wrapper .radio-user #option-3:checked:checked ~ .option-3 .dot::before,
.register-wrapper2 .radio-user #option-1:checked:checked ~ .option-1 .dot::before,
.register-wrapper2 .radio-user #option-2:checked:checked ~ .option-2 .dot::before,
.register-wrapper2 .radio-user #option-3:checked:checked ~ .option-3 .dot::before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.buttons,
.login-wrapper .login-button,
.register-wrapper .register-button,
.register-wrapper2 .register-button {
  margin: 20px;
  /*
        Top Bar
    */
  /*
        Right Bar
    */
  /*
        Bottom Bar
    */
  /*
        Left Bar
    */
}

.buttons .login-button,
.buttons .register-button,
.login-wrapper .login-button .login-button,
.login-wrapper .login-button .register-button,
.register-wrapper .register-button .login-button,
.register-wrapper .register-button .register-button,
.register-wrapper2 .register-button .login-button,
.register-wrapper2 .register-button .register-button {
  margin: 20px 0;
}

.buttons a,
.login-wrapper .login-button a,
.register-wrapper .register-button a,
.register-wrapper2 .register-button a {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  width: 150px;
  padding: 15px 30px;
  color: #0076be;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.buttons a i,
.login-wrapper .login-button a i,
.register-wrapper .register-button a i,
.register-wrapper2 .register-button a i {
  margin: 0 10px;
}

.buttons a:hover,
.login-wrapper .login-button a:hover,
.register-wrapper .register-button a:hover,
.register-wrapper2 .register-button a:hover {
  background-color: #0076be;
  color: white;
  -webkit-box-shadow: 0 0 10px #0076be, 0 0 40px #0076be, 0 0 80px #0076be;
          box-shadow: 0 0 10px #0076be, 0 0 40px #0076be, 0 0 80px #0076be;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.buttons a span,
.login-wrapper .login-button a span,
.register-wrapper .register-button a span,
.register-wrapper2 .register-button a span {
  position: absolute;
  display: block;
}

.buttons a span:nth-child(1),
.login-wrapper .login-button a span:nth-child(1),
.register-wrapper .register-button a span:nth-child(1),
.register-wrapper2 .register-button a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#0076be));
  background: linear-gradient(90deg, transparent, #0076be);
}

.buttons a:hover span:nth-child(1),
.login-wrapper .login-button a:hover span:nth-child(1),
.register-wrapper .register-button a:hover span:nth-child(1),
.register-wrapper2 .register-button a:hover span:nth-child(1) {
  left: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.buttons a span:nth-child(2),
.login-wrapper .login-button a span:nth-child(2),
.register-wrapper .register-button a span:nth-child(2),
.register-wrapper2 .register-button a span:nth-child(2) {
  right: 0;
  top: -100%;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#0076be));
  background: linear-gradient(180deg, transparent, #0076be);
}

.buttons a:hover span:nth-child(2),
.login-wrapper .login-button a:hover span:nth-child(2),
.register-wrapper .register-button a:hover span:nth-child(2),
.register-wrapper2 .register-button a:hover span:nth-child(2) {
  top: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}

.buttons a span:nth-child(3),
.login-wrapper .login-button a span:nth-child(3),
.register-wrapper .register-button a span:nth-child(3),
.register-wrapper2 .register-button a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#0076be));
  background: linear-gradient(270deg, transparent, #0076be);
}

.buttons a:hover span:nth-child(3),
.login-wrapper .login-button a:hover span:nth-child(3),
.register-wrapper .register-button a:hover span:nth-child(3),
.register-wrapper2 .register-button a:hover span:nth-child(3) {
  right: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.buttons a span:nth-child(4),
.login-wrapper .login-button a span:nth-child(4),
.register-wrapper .register-button a span:nth-child(4),
.register-wrapper2 .register-button a span:nth-child(4) {
  left: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#0076be));
  background: linear-gradient(360deg, transparent, #0076be);
}

.buttons a:hover span:nth-child(4),
.login-wrapper .login-button a:hover span:nth-child(4),
.register-wrapper .register-button a:hover span:nth-child(4),
.register-wrapper2 .register-button a:hover span:nth-child(4) {
  bottom: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.375s;
          transition-delay: 0.375s;
}

img {
  width: 400px;
}

::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.login-wrapper,
.register-wrapper,
.register-wrapper2 {
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-wrapper .inputs,
.register-wrapper .inputs,
.register-wrapper2 .inputs {
  margin: 10px 0;
  width: 100%;
  height: 50px;
  max-width: 300px;
  position: relative;
  overflow: hidden;
}

.login-wrapper .inputs input,
.register-wrapper .inputs input,
.register-wrapper2 .inputs input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #0076be;
  padding-top: 10px;
  border: none;
  outline: 0px;
}

.login-wrapper .inputs input:focus + .lbl-user .text-user,
.login-wrapper .inputs input:valid + .lbl-user .text-user,
.register-wrapper .inputs input:focus + .lbl-user .text-user,
.register-wrapper .inputs input:valid + .lbl-user .text-user,
.register-wrapper2 .inputs input:focus + .lbl-user .text-user,
.register-wrapper2 .inputs input:valid + .lbl-user .text-user {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #0076be;
}

.login-wrapper .inputs input:focus + .lbl-user:after,
.register-wrapper .inputs input:focus + .lbl-user:after,
.register-wrapper2 .inputs input:focus + .lbl-user:after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.login-wrapper .inputs input:-webkit-autofill,
.register-wrapper .inputs input:-webkit-autofill,
.register-wrapper2 .inputs input:-webkit-autofill {
  -webkit-text-fill-color: #0076be;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #333;
    background: transparent;
  }
}

.login-wrapper .inputs .lbl-user,
.register-wrapper .inputs .lbl-user,
.register-wrapper2 .inputs .lbl-user {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid white;
}

.login-wrapper .inputs .lbl-user .text-user,
.register-wrapper .inputs .lbl-user .text-user,
.register-wrapper2 .inputs .lbl-user .text-user {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-wrapper .inputs .lbl-user:after,
.register-wrapper .inputs .lbl-user:after,
.register-wrapper2 .inputs .lbl-user:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #0076be;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-wrapper .forgot-password a,
.register-wrapper .forgot-password a,
.register-wrapper2 .forgot-password a {
  color: #858585;
  font-size: 15px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login-wrapper .forgot-password a:hover,
.register-wrapper .forgot-password a:hover,
.register-wrapper2 .forgot-password a:hover {
  color: white;
}

.login-wrapper .column-wrapper,
.register-wrapper .column-wrapper,
.register-wrapper2 .column-wrapper {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.login-wrapper .column-wrapper .column:nth-child(1),
.register-wrapper .column-wrapper .column:nth-child(1),
.register-wrapper2 .column-wrapper .column:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}

.login-wrapper .column-wrapper .column:nth-child(2),
.register-wrapper .column-wrapper .column:nth-child(2),
.register-wrapper2 .column-wrapper .column:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.profile-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-wrapper .profile-body {
  width: 80%;
  background-color: #111;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

.profile-wrapper .profile-body .profile-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30%;
      grid-template-columns: 1fr 30%;
  width: 100%;
}

.profile-wrapper .profile-body .profile-grid .estadisticas-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #222;
  border-radius: 30px;
  margin: 20px;
}

.profile-wrapper .profile-body .profile-grid .estadisticas-wrapper .estadisticas-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.profile-wrapper .profile-body .profile-grid .estadisticas-wrapper .estadisticas-header h1 {
  color: white;
  margin: 5px 0;
}

.profile-wrapper .profile-body .profile-grid .estadisticas-wrapper .estadisticas-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #0076be;
  margin: 10px 50px;
  text-align: left;
}

.profile-wrapper .profile-body .profile-grid .estadisticas-wrapper .estadisticas-body .estadisticas-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #0076be;
  font-size: 20px;
}

.profile-wrapper .profile-body .profile-grid .estadisticas-wrapper .estadisticas-body p {
  text-align: right;
  margin-left: 10px;
  color: white;
  font-size: 20px;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #222;
  border-radius: 30px;
  margin: 20px;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .ver-logros {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0076be;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .ver-logros i {
  margin-right: 10px;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .ver-logros:hover {
  background-color: #111;
  color: #fcba03;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .logro-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .logro-wrapper .logro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 10px;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .logro-wrapper .logro .imagen-logro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c2c2c;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .logro-wrapper .logro .imagen-logro .img-trofeo {
  width: 70px;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .logro-wrapper .logro .imagen-logro i {
  color: white;
  font-size: 30px;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .logro-wrapper .logro .logro-body {
  margin: 0 10px;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .logro-wrapper .logro .logro-body h1 {
  color: #0076be;
  font-size: 1.3rem;
  margin: 0;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .logro-wrapper .logro .logro-body p {
  color: white;
  margin: 5px 0;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .logro-wrapper .logro .logro-body .bloqueado {
  color: grey;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .logro-wrapper .logro .logro-body .porcentaje {
  color: grey;
  font-size: 13px;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .logros-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.profile-wrapper .profile-body .profile-grid .logros-wrapper .logros-header p {
  color: #0076be;
  font-size: 20px;
  margin: 0 5px;
}

.profile-wrapper .profile-body .trofeos-wrapper {
  background-color: #222;
  width: calc(100% - 40px);
  border-radius: 30px;
  margin: 20px 0 0 0;
}

.profile-wrapper .profile-body .trofeos-wrapper .trofeo-header {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.profile-wrapper .profile-body .trofeos-wrapper .trofeo-header h1 {
  font-size: 1.8rem;
  color: #fcba03;
}

.profile-wrapper .profile-body .trofeos-wrapper .trofeos-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-wrapper .profile-body .trofeos-wrapper .trofeo {
  margin: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-wrapper .profile-body .trofeos-wrapper .trofeo .trofeo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  background-color: #333;
  border-radius: 50%;
}

.profile-wrapper .profile-body .trofeos-wrapper .trofeo .trofeo-img img {
  width: 80px;
}

.profile-wrapper .profile-body .trofeos-wrapper .trofeo .trofeo-body {
  margin: 0 10px;
}

.profile-wrapper .profile-body .trofeos-wrapper .trofeo .trofeo-body h1 {
  color: #fcba03;
  font-size: 25px;
  margin: 0;
}

.profile-wrapper .profile-body .trofeos-wrapper .trofeo .trofeo-body p {
  color: white;
  margin: 5px 0;
}

.profile-wrapper .profile-body h1 {
  color: white;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 5px 0;
}

.profile-wrapper .profile-body hr {
  border: 1px solid white;
  width: 80%;
}

.profile-wrapper .profile-body .profile-info-field {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0;
  text-align: left;
}

.profile-wrapper .profile-body .profile-info-field .bold-title {
  margin: 0;
  color: #0076be;
  font-size: 20px;
  font-weight: bold;
}

.profile-wrapper .profile-body .profile-info-field p {
  margin: 0;
  margin-left: 10px;
  color: white;
  font-size: 18px;
  font-weight: lighter;
}

.profile-wrapper .profile-body .profile-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 40px);
  background-color: #222;
  border-radius: 30px;
  margin-top: 40px;
}

.profile-wrapper .profile-body .profile-avatar .profile-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 40px;
}

.profile-wrapper .profile-body .profile-avatar .profile-flex .profile-avatar-body {
  margin: 0 10px;
}

.profile-wrapper .profile-body .profile-avatar .profile-flex .profile-avatar-body p {
  margin: 5px 0;
  color: white;
  font-size: 30px;
}

.profile-wrapper .profile-body .profile-avatar .profile-flex .profile-avatar-body .tipo-profile {
  color: #fcba03;
  font-size: 15px;
}

.profile-wrapper .profile-body .profile-avatar a {
  margin: 0 40px;
  text-decoration: none;
  color: white;
  background-color: #0076be;
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.profile-wrapper .profile-body .profile-avatar a:hover {
  background-color: #111;
  color: #009dff;
}

.profile-wrapper .profile-body .profile-avatar .profile-body-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px 0;
  background-color: #0076be;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-wrapper .profile-body .profile-avatar .profile-body-picture i {
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 1700px) {
  .profile-wrapper .profile-body .profile-grid {
    -ms-grid-columns: 1fr 25vw;
        grid-template-columns: 1fr 25vw;
  }
}

@media screen and (max-width: 1300px) {
  .profile-wrapper .profile-body .profile-avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-wrapper .profile-body .profile-avatar a {
    margin: 20px;
  }
  .profile-wrapper .profile-body .profile-avatar .profile-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-wrapper .profile-body .profile-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .profile-wrapper .profile-body .profile-grid .logros-wrapper .logros {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .noticias-wrapper .noticias-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1220px) {
  .profile-wrapper .profile-body .profile-grid .logros-wrapper .logros {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .noticias-wrapper .noticias-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1050px) {
  .profile-wrapper .trofeos-wrapper .trofeo-header .trofeos-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 880px) {
  .noticias-wrapper .noticias-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 650px) {
  .profile-wrapper .profile-body {
    width: 100%;
  }
  .profile-wrapper .profile-body img {
    width: 300px;
  }
  .profile-wrapper .profile-body .profile-grid {
    width: 90%;
  }
  .profile-wrapper .profile-body .profile-grid .logros-wrapper .logros {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .profile-wrapper .profile-body .profile-avatar {
    width: calc(90% - 40px);
    margin: 20px;
  }
  .profile-wrapper .profile-body .trofeos-wrapper {
    width: calc(90% - 40px);
  }
}

@media screen and (max-width: 605px) {
  header .header-logo {
    margin: 20px 0;
  }
  header .header-logo img {
    width: 200px;
  }
  header .nav-links {
    display: none;
  }
  header .burger-mobile {
    display: block;
  }
  header #links-mobile {
    display: block;
  }
  .login-wrapper .column-wrapper .column:nth-child(1),
  .register-wrapper .column-wrapper .column:nth-child(1),
  .register-wrapper2 .column-wrapper .column:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .login-wrapper .column-wrapper .column:nth-child(2),
  .register-wrapper .column-wrapper .column:nth-child(2),
  .register-wrapper2 .column-wrapper .column:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .register-wrapper {
    margin: 100px 0;
  }
  .register-wrapper .register-logo img {
    width: 300px;
  }
  .register-wrapper2 {
    margin: 0;
    height: 100%;
  }
  .register-wrapper2 .register-logo img {
    width: 300px;
  }
  .register-wrapper2 .column-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .register-wrapper2 .column-wrapper .column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 510px) {
  footer .footer-body {
    text-align: center;
  }
  footer .footer-body img {
    width: 300px;
  }
  footer .footer-body p {
    margin: 10px 30px;
  }
  .landing-page .landing-overlay {
    width: 100%;
  }
  .landing-page .landing-overlay .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing-page .landing-overlay .buttons .index-info {
    width: 90%;
  }
  .landing-page .landing-overlay .buttons a {
    margin: 5px;
  }
  .landing-page .landing-overlay img {
    width: 300px;
  }
  .profile-wrapper .profile-body .trofeos-wrapper .trofeo-header .trofeos-list .trofeo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .noticias-wrapper .noticias-grid .noticia-wrapper .noticia {
    width: 300px;
  }
  footer .footer-body .cyberhydra p {
    font-size: 15px;
  }
  footer .footer-body .cyberhydra img {
    width: 150px;
  }
}

@media screen and (max-width: 500px) {
  .profile-wrapper .profile-body .profile-grid .logros-wrapper .logros .logro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .profile-wrapper .profile-body .profile-grid .estadisticas-wrapper {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .profile-wrapper .profile-body .profile-grid .logros-wrapper {
    margin: 0;
  }
  .profile-wrapper .profile-body .profile-avatar {
    width: 90%;
    margin: 20px;
  }
  .profile-wrapper .profile-body .trofeos-wrapper {
    width: 90%;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */